# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Archivos de IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
.vscode/ # Si también usas VS Code, es buena práctica ignorarlo
.DS_Store # Archivos de macOS